<!-- side ber -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-inner slimscroll">
    <div id="sidebar-menu" class="sidebar-menu">
      <ul>
        <li class="submenu-open">
          <ul>
            <li class="active">
              <a href="{% url 'homee' %}"><i data-feather="grid"></i><span>Dashboard</span></a>
            </li>

          </ul>
        </li>

        <li class="submenu-open">

          <ul>
            <!-- User Management -->
            <li class="submenu">
              <a href="javascript:void(0);"><i data-feather="users"></i><span>Manage Users</span><span class="menu-arrow"></span></a>
              <ul>
                <li><a href="{% url 'add_user'%}">New User </a></li>
                <li><a href="{% url 'user_list'%}">Users List</a></li>
              </ul>
            </li>

            <!-- Products -->
            <li class="submenu">
              <a href="javascript:void(0);"><i data-feather="box"></i><span>Products</span><span
                  class="menu-arrow"></span></a>
              <ul>
                <li><a href="{% url 'add_product' %}">Add Product</a>
                </li>
                <li><a href="{% url 'product_list' %}">Product List</a>
                </li>
              </ul>
            </li>

            <!-- Purchases -->
            <li class="submenu">
              <a href="javascript:void(0);"><i data-feather="shopping-bag"></i><span>Purchases</span><span
                  class="menu-arrow"></span></a>
              <ul>
                <li><a href="{% url 'purchase_product' %}">New
                    Purchases</a></li>
                <li><a href="{% url 'purchase_list' %}">Purchases
                    List</a></li>
                
                <li><a href="{% url 'purchase_due_list' %}">Due
                    Purchases</a></li>
              </ul>
            </li>

            <!-- Sales -->
            <li class="submenu">
              <a href="javascript:void(0);"><i data-feather="shopping-cart"></i><span>Sales</span><span
                  class="menu-arrow"></span></a>
              <ul>
                <li><a href="{% url 'sales_product' %}">New Sales</a>
                </li>
                <li><a href="{% url 'sales_list' %}">Sales List</a></li>
                <li><a href="{% url 'sales_due_list' %}">Due Sales</a>
                </li>
              </ul>
            </li>

            <!-- Category -->
            <li class="submenu">
              <a href="javascript:void(0);"><i data-feather="codepen"></i><span>Category</span><span
                  class="menu-arrow"></span></a>
              <ul>
                <li><a href="{% url 'category_add' %}">Add Category </a>
                </li>
                <li><a href="{% url 'category_list' %}">Category
                    List</a></li>
              </ul>
            </li>
            <!-- Brands -->
            <li class="submenu">
              <a href="javascript:void(0);"><i data-feather="tag"></i><span>Brands</span><span
                  class="menu-arrow"></span></a>
              <ul>
                <li><a href="{% url 'brand_add' %}">Add Brand </a></li>
                <li><a href="{% url 'brand_list' %}">Brand List</a></li>
              </ul>
            </li>

            <!-- Unit -->
            <li class="submenu">
              <a href="javascript:void(0);"><i data-feather="speaker"></i><span>Unit</span><span
                  class="menu-arrow"></span></a>
              <ul>
                <li><a href="{% url 'unit_add' %}">Add Unit </a></li>

              </ul>
            </li>

            <!-- Quotation -->
            <li class="submenu">
              <a href="javascript:void(0);"><i data-feather="save"></i><span>Quotation</span><span
                  class="menu-arrow"></span></a>
              <ul>
                <li><a href="{% url 'add_quotation' %}">Add Quotation</a>
                </li>
                <li><a href="{% url 'quotation_list' %}">Quotation List</a></li>
              </ul>
            </li>


            <!-- Suppliers -->
            <li class="submenu">
              <a href="javascript:void(0);"><i data-feather="users"></i><span>Suppliers</span><span class="menu-arrow"></span></a>
              <ul>
                <li><a href="{% url 'supplier_add' %}">Add Suppliers</a>
                </li>
                <li><a href="{% url 'supplierlist' %}">Suppliers
                    List</a></li>
              </ul>
            </li>
             <!-- Customers -->
             <li class="submenu">
              <a href="javascript:void(0);"><i data-feather="user"></i><span>Customers</span><span class="menu-arrow"></span></a>
              <ul>
                <li><a href="{% url 'add_customers' %}">Add Customers</a></li>
                <li><a href="{% url 'customers_list' %}">Customers List</a></li>
              </ul>
            </li>
            <li class="submenu">
              <a href="javascript:void(0);"><i data-feather="corner-up-left"></i><span>Sales Return</span><span class="menu-arrow"></span></a>
              <ul>
                <li><a href="{% url 'add_sales_return' %}">Add Sales Return</a>
                </li>
                <li><a href="{% url 'sales_return_list' %}">Sales Return List</a></li>
              </ul>
            </li>
            <li class="submenu">
              <a href="javascript:void(0);"><i data-feather="corner-up-left"></i><span>Purchases Return</span><span class="menu-arrow"></span></a>
              <ul>
                <li><a href="{% url 'add_purchase_return' %}">Add Purchases Return</a>
                </li>
                <li><a href="{% url 'purchase_return_list' %}">Purchases Return List</a></li>
              </ul>
            </li>
           
          </ul>
        </li>
<!-- 
        <li class="submenu-open">
          <h6 class="submenu-hdr">Products</h6>
          <ul>
            <li><a href="https://dreamspos.dreamguystech.com/html/template/productlist.html"><i
                  data-feather="box"></i><span>Products</span></a>
            </li>
            <li><a href="https://dreamspos.dreamguystech.com/html/template/addproduct.html"><i
                  data-feather="plus-square"></i><span>Create
                  Product</span></a></li>
            <li><a href="https://dreamspos.dreamguystech.com/html/template/categorylist.html"><i
                  data-feather="codepen"></i><span>Category</span></a>
            </li>
            <li><a href="https://dreamspos.dreamguystech.com/html/template/brandlist.html"><i
                  data-feather="tag"></i><span>Brands</span></a>
            </li>
            <li><a href="https://dreamspos.dreamguystech.com/html/template/subcategorylist.html"><i
                  data-feather="speaker"></i><span>Sub
                  Category</span></a></li>
            <li><a href="https://dreamspos.dreamguystech.com/html/template/barcode.html"><i
                  data-feather="align-justify"></i><span>Print
                  Barcode</span></a></li>
            <li><a href="https://dreamspos.dreamguystech.com/html/template/importproduct.html"><i
                  data-feather="minimize-2"></i><span>Import
                  Products</span></a></li>
          </ul>
        </li>
        <li class="submenu-open">
          <h6 class="submenu-hdr">Sales</h6>
          <ul>
            <li><a href="https://dreamspos.dreamguystech.com/html/template/saleslist.html"><i
                  data-feather="shopping-cart"></i><span>Sales</span></a>
            </li>
            <li><a href="https://dreamspos.dreamguystech.com/html/template/invoicereport.html"><i
                  data-feather="file-text"></i><span>Invoices</span></a>
            </li>
            <li><a href="https://dreamspos.dreamguystech.com/html/template/salesreturnlists.html"><i
                  data-feather="copy"></i><span>Sales
                  Return</span></a></li>
            <li><a href="https://dreamspos.dreamguystech.com/html/template/quotationList.html"><i
                  data-feather="save"></i><span>Quotation</span></a>
            </li>
            <li><a href="https://dreamspos.dreamguystech.com/html/template/pos.html"><i
                  data-feather="hard-drive"></i><span>POS</a></li>
            <li class="submenu">
              <a href="javascript:void(0);"><i data-feather="shuffle"></i><span>Transfer</span><span
                  class="menu-arrow"></span></a>
              <ul>
                <li><a href="https://dreamspos.dreamguystech.com/html/template/transferlist.html">Transfer
                    List</a></li>
                <li><a href="https://dreamspos.dreamguystech.com/html/template/importtransfer.html">Import
                    Transfer </a></li>
              </ul>
            </li>
            <li class="submenu">
              <a href="javascript:void(0);"><i data-feather="corner-up-left"></i><span>Return</span><span
                  class="menu-arrow"></span></a>
              <ul>
                <li><a href="https://dreamspos.dreamguystech.com/html/template/salesreturnlist.html">Sales
                    Return</a></li>
                <li><a href="https://dreamspos.dreamguystech.com/html/template/purchasereturnlist.html">Purchase
                    Return</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="submenu-open">
          <h6 class="submenu-hdr">Purchases</h6>
          <ul>
            <li><a href="https://dreamspos.dreamguystech.com/html/template/purchaselist.html"><i
                  data-feather="shopping-bag"></i><span>Purchases</span></a>
            </li>
            <li><a href="https://dreamspos.dreamguystech.com/html/template/importpurchase.html"><i
                  data-feather="minimize-2"></i><span>Import
                  Purchases</span></a></li>
            <li><a href="https://dreamspos.dreamguystech.com/html/template/purchaseorderreport.html"><i
                  data-feather="file-minus"></i><span>Purchase
                  Order</span></a></li>
            <li><a href="https://dreamspos.dreamguystech.com/html/template/purchasereturnlist.html"><i
                  data-feather="refresh-cw"></i><span>Purchase
                  Return</span></a></li>
          </ul>
        </li>
        <li class="submenu-open">
          <h6 class="submenu-hdr">Finance & Accounts</h6>
          <ul>
            <li class="submenu">
              <a href="javascript:void(0);"><i data-feather="file-text"></i><span>Expense</span><span
                  class="menu-arrow"></span></a>
              <ul>
                <li><a href="https://dreamspos.dreamguystech.com/html/template/expenselist.html">Expenses</a>
                </li>
                <li><a href="https://dreamspos.dreamguystech.com/html/template/expensecategory.html">Expense
                    Category</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="submenu-open">
          <h6 class="submenu-hdr">Peoples</h6>
          <ul>
            <li><a href="https://dreamspos.dreamguystech.com/html/template/customerlist.html"><i
                  data-feather="user"></i><span>Customers</span></a>
            </li>
            <li><a href="https://dreamspos.dreamguystech.com/html/template/supplierlist.html"><i
                  data-feather="users"></i><span>Suppliers</span></a>
            </li>
            <li><a href="https://dreamspos.dreamguystech.com/html/template/userlist.html"><i
                  data-feather="user-check"></i><span>Users</span></a>
            </li>
            <li><a href="https://dreamspos.dreamguystech.com/html/template/storelist.html"><i
                  data-feather="home"></i><span>Stores</span></a>
            </li>
          </ul>
        </li>
        <li class="submenu-open">
          <h6 class="submenu-hdr">Reports</h6>
          <ul>
            <li><a href="https://dreamspos.dreamguystech.com/html/template/salesreport.html"><i
                  data-feather="bar-chart-2"></i><span>Sales
                  Report</span></a></li>
            <li><a href="https://dreamspos.dreamguystech.com/html/template/purchaseorderreport.html"><i
                  data-feather="pie-chart"></i><span>Purchase
                  report</span></a></li>
            <li><a href="https://dreamspos.dreamguystech.com/html/template/inventoryreport.html"><i
                  data-feather="credit-card"></i><span>Inventory
                  Report</span></a></li>
            <li><a href="https://dreamspos.dreamguystech.com/html/template/invoicereport.html"><i
                  data-feather="file"></i><span>Invoice
                  Report</span></a></li>
            <li><a href="https://dreamspos.dreamguystech.com/html/template/purchasereport.html"><i
                  data-feather="bar-chart"></i><span>Purchase
                  Report</span></a></li>
            <li><a href="https://dreamspos.dreamguystech.com/html/template/supplierreport.html"><i
                  data-feather="database"></i><span>Supplier
                  Report</span></a></li>
            <li><a href="https://dreamspos.dreamguystech.com/html/template/customerreport.html"><i
                  data-feather="pie-chart"></i><span>Customer
                  Report</span></a></li>
          </ul>
        </li>

        <li class="submenu-open">
          <h6 class="submenu-hdr">Pages</h6>
          <ul>
            <li class="submenu">
              <a href="javascript:void(0);"><i data-feather="shield"></i><span>Authentication</span><span
                  class="menu-arrow"></span></a>
              <ul>
                <li><a href="https://dreamspos.dreamguystech.com/html/template/signin.html">Log
                    in</a>
                </li>
                <li><a href="https://dreamspos.dreamguystech.com/html/template/signup.html">Register</a>
                </li>
                <li><a href="https://dreamspos.dreamguystech.com/html/template/forgetpassword.html">Forgot
                    Password</a></li>
                <li><a href="https://dreamspos.dreamguystech.com/html/template/resetpassword.html">Reset
                    Password</a></li>
              </ul>
            </li>
            <li class="submenu">
              <a href="javascript:void(0);"><i data-feather="file-minus"></i><span>Error
                  Pages</span><span class="menu-arrow"></span></a>
              <ul>
                <li><a href="https://dreamspos.dreamguystech.com/html/template/error-404.html">404
                    Error
                  </a></li>
                <li><a href="https://dreamspos.dreamguystech.com/html/template/error-500.html">500
                    Error
                  </a></li>
              </ul>
            </li>
            <li class="submenu">
              <a href="javascript:void(0);"><i data-feather="map"></i><span>Places</span><span
                  class="menu-arrow"></span></a>
              <ul>
                <li><a href="https://dreamspos.dreamguystech.com/html/template/countrieslist.html">Countries</a>
                </li>
                <li><a href="https://dreamspos.dreamguystech.com/html/template/statelist.html">States</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="https://dreamspos.dreamguystech.com/html/template/blankpage.html"><i
                  data-feather="file"></i><span>Blank Page</span>
              </a>
            </li>
            <li>
              <a href="https://dreamspos.dreamguystech.com/html/template/components.html"><i
                  data-feather="pen-tool"></i><span>Components</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="submenu-open">
          <h6 class="submenu-hdr">UI Interface</h6>
          <ul>
            <li class="submenu">
              <a href="javascript:void(0);"><i data-feather="layers"></i><span>Elements</span><span
                  class="menu-arrow"></span></a>
              <ul>
                <li><a href="https://dreamspos.dreamguystech.com/html/template/sweetalerts.html">Sweet
                    Alerts</a></li>
                <li><a href="https://dreamspos.dreamguystech.com/html/template/tooltip.html">Tooltip</a>
                </li>
                <li><a href="https://dreamspos.dreamguystech.com/html/template/popover.html">Popover</a>
                </li>
                <li><a href="https://dreamspos.dreamguystech.com/html/template/ribbon.html">Ribbon</a>
                </li>
                <li><a href="https://dreamspos.dreamguystech.com/html/template/clipboard.html">Clipboard</a>
                </li>
                <li><a href="https://dreamspos.dreamguystech.com/html/template/drag-drop.html">Drag
                    &
                    Drop</a></li>
                <li><a href="https://dreamspos.dreamguystech.com/html/template/rangeslider.html">Range
                    Slider</a></li>
                <li><a href="https://dreamspos.dreamguystech.com/html/template/rating.html">Rating</a>
                </li>
                <li><a href="https://dreamspos.dreamguystech.com/html/template/toastr.html">Toastr</a>
                </li>
                <li><a href="https://dreamspos.dreamguystech.com/html/template/text-editor.html">Text
                    Editor</a></li>
                <li><a href="https://dreamspos.dreamguystech.com/html/template/counter.html">Counter</a>
                </li>
                <li><a href="https://dreamspos.dreamguystech.com/html/template/scrollbar.html">Scrollbar</a>
                </li>
                <li><a href="https://dreamspos.dreamguystech.com/html/template/spinner.html">Spinner</a>
                </li>
                <li><a href="https://dreamspos.dreamguystech.com/html/template/notification.html">Notification</a>
                </li>
                <li><a href="https://dreamspos.dreamguystech.com/html/template/lightbox.html">Lightbox</a>
                </li>
                <li><a href="https://dreamspos.dreamguystech.com/html/template/stickynote.html">Sticky
                    Note</a></li>
                <li><a href="https://dreamspos.dreamguystech.com/html/template/timeline.html">Timeline</a>
                </li>
                <li><a href="https://dreamspos.dreamguystech.com/html/template/form-wizard.html">Form
                    Wizard</a></li>
              </ul>
            </li>
            <li class="submenu">
              <a href="javascript:void(0);"><i data-feather="bar-chart-2"></i><span>Charts</span><span
                  class="menu-arrow"></span></a>
              <ul>
                <li><a href="https://dreamspos.dreamguystech.com/html/template/chart-apex.html">Apex
                    Charts</a></li>
                <li><a href="https://dreamspos.dreamguystech.com/html/template/chart-js.html">Chart
                    Js</a></li>
                <li><a href="https://dreamspos.dreamguystech.com/html/template/chart-morris.html">Morris
                    Charts</a></li>
                <li><a href="https://dreamspos.dreamguystech.com/html/template/chart-flot.html">Flot
                    Charts</a></li>
                <li><a href="https://dreamspos.dreamguystech.com/html/template/chart-peity.html">Peity
                    Charts</a></li>
              </ul>
            </li>
            <li class="submenu">
              <a href="javascript:void(0);"><i data-feather="database"></i><span>Icons</span><span
                  class="menu-arrow"></span></a>
              <ul>
                <li><a href="https://dreamspos.dreamguystech.com/html/template/icon-fontawesome.html">Fontawesome
                    Icons</a></li>
                <li><a href="https://dreamspos.dreamguystech.com/html/template/icon-feather.html">Feather
                    Icons</a></li>
                <li><a href="https://dreamspos.dreamguystech.com/html/template/icon-ionic.html">Ionic
                    Icons</a></li>
                <li><a href="https://dreamspos.dreamguystech.com/html/template/icon-material.html">Material
                    Icons</a></li>
                <li><a href="https://dreamspos.dreamguystech.com/html/template/icon-pe7.html">Pe7
                    Icons</a></li>
                <li><a href="https://dreamspos.dreamguystech.com/html/template/icon-simpleline.html">Simpleline
                    Icons</a></li>
                <li><a href="https://dreamspos.dreamguystech.com/html/template/icon-themify.html">Themify
                    Icons</a></li>
                <li><a href="https://dreamspos.dreamguystech.com/html/template/icon-weather.html">Weather
                    Icons</a></li>
                <li><a href="https://dreamspos.dreamguystech.com/html/template/icon-typicon.html">Typicon
                    Icons</a></li>
                <li><a href="https://dreamspos.dreamguystech.com/html/template/icon-flag.html">Flag
                    Icons</a></li>
              </ul>
            </li>
            <li class="submenu">
              <a href="javascript:void(0);"><i data-feather="edit"></i><span>Forms</span><span
                  class="menu-arrow"></span></a>
              <ul>
                <li><a href="https://dreamspos.dreamguystech.com/html/template/form-basic-inputs.html">Basic
                    Inputs </a></li>
                <li><a href="https://dreamspos.dreamguystech.com/html/template/form-input-groups.html">Input
                    Groups </a></li>
                <li><a href="https://dreamspos.dreamguystech.com/html/template/form-horizontal.html">Horizontal
                    Form </a></li>
                <li><a href="https://dreamspos.dreamguystech.com/html/template/form-vertical.html">
                    Vertical Form </a></li>
                <li><a href="https://dreamspos.dreamguystech.com/html/template/form-mask.html">Form
                    Mask
                  </a></li>
                <li><a href="https://dreamspos.dreamguystech.com/html/template/form-validation.html">Form
                    Validation </a></li>
                <li><a href="https://dreamspos.dreamguystech.com/html/template/form-select2.html">Form
                    Select2 </a></li>
                <li><a href="https://dreamspos.dreamguystech.com/html/template/form-fileupload.html">File
                    Upload </a></li>
              </ul>
            </li>
            <li class="submenu">
              <a href="javascript:void(0);"><i data-feather="columns"></i><span>Tables</span><span
                  class="menu-arrow"></span></a>
              <ul>
                <li><a href="https://dreamspos.dreamguystech.com/html/template/tables-basic.html">Basic
                    Tables </a></li>
                <li><a href="https://dreamspos.dreamguystech.com/html/template/data-tables.html">Data
                    Table </a></li>
              </ul>
            </li>
          </ul>
        </li> -->
        <li class="submenu-open">
          <h6 class="submenu-hdr">Settings</h6>
          <ul>
            <li class="submenu">
              <a href="javascript:void(0);"><i data-feather="settings"></i><span>Settings</span><span
                  class="menu-arrow"></span></a>
              <ul>
                <li><a href="https://dreamspos.dreamguystech.com/html/template/generalsettings.html">General
                    Settings</a></li>
                <li><a href="https://dreamspos.dreamguystech.com/html/template/emailsettings.html">Email
                    Settings</a></li>
                <li><a href="https://dreamspos.dreamguystech.com/html/template/paymentsettings.html">Payment
                    Settings</a></li>
                <li><a href="https://dreamspos.dreamguystech.com/html/template/currencysettings.html">Currency
                    Settings</a></li>
                <li><a href="https://dreamspos.dreamguystech.com/html/template/grouppermissions.html">Group
                    Permissions</a></li>
                <li><a href="https://dreamspos.dreamguystech.com/html/template/taxrates.html">Tax
                    Rates</a></li>
              </ul>
            </li>
            <li>
              <a href="https://dreamspos.dreamguystech.com/html/template/signin.html"><i
                  data-feather="log-out"></i><span>Logout</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- end side ber -->