    {% load sidemenu %}
    <!-- sidebar -->
    <div class="sidebar px-4 py-4 py-md-4 me-0">
        <div class="d-flex flex-column h-100">
            <a href="{% url 'daseboard' %}" class="mb-0 brand-icon">
                <span class="logo-icon">
                    <i class="bi bi-bag-check-fill fs-4"></i>
                </span>
                <span class="logo-text">MasudDoor-Admin</span>
            </a>
            <!-- Menu: main ul -->
            <ul class="menu-list flex-grow-1 mt-3">
                <li><a class="m-link active" href="{% url 'daseboard' %}"><i class="icofont-home fs-5"></i> <span>Dashboard</span></a></li>
                <li class="collapsed">
                    <a class="m-link" data-bs-toggle="collapse" data-bs-target="#menu-product" href="#">
                        <i class="icofont-truck-loaded fs-5"></i> <span>Products</span> <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span></a>
                        <!-- Menu: Sub menu ul -->
                        <ul class="sub-menu collapse" id="menu-product">
                            <li><a class="ms-link" href="{% url 'allproduct' %}">Product-List</a></li>
                            <li><a class="ms-link" href="{% url 'inactive-product' %}">Inactive-Product-List</a></li>
                            <li><a class="ms-link" href="{% url 'product-add' %}">Product Add</a></li>
                        </ul>
                </li>
                <li class="collapsed">
                    <a class="m-link" data-bs-toggle="collapse" data-bs-target="#categories" href="#">
                        <i class="icofont-chart-flow fs-5"></i> <span>Categories</span> <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span></a>
                        <!-- Menu: Sub menu ul -->
                        <ul class="sub-menu collapse" id="categories">
                            <li><a class="ms-link" href="{% url 'category-list' %}">Category-List</a></li>
                            <li><a class="ms-link" href="{% url 'inactive-category-list' %}">Inactive-Category-List</a></li>
                            <li><a class="ms-link" href="{% url 'category-add' %}">Category-Add</a></li>
                        </ul>
                </li>
                <li class="collapsed">
                    <a class="m-link" data-bs-toggle="collapse" data-bs-target="#brand" href="#">
                        <i class="icofont-listine-dots"></i> <span>Brand</span> <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span></a>
                        <!-- Menu: Sub menu ul -->
                        <ul class="sub-menu collapse" id="brand">
                            <li><a class="ms-link" href="{% url 'brand-list' %}">Brand-List</a></li>
                            <li><a class="ms-link" href="{% url 'inactive-brand-list' %}">Inactive-Brand-List</a></li>
                            <li><a class="ms-link" href="{% url 'brand-add' %}">Brand-Add</a></li>
                        </ul>
                </li>
                <li class="collapsed">
                    <a class="m-link" data-bs-toggle="collapse" data-bs-target="#menu-order" href="#">
                    <i class="icofont-notepad fs-5"></i> <span>Orders</span> <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span></a>
                    <!-- Menu: Sub menu ul -->
                    <ul class="sub-menu collapse" id="menu-order">
                        <li><a class="ms-link" href="{% url 'all-order' %}">All-Orders-List</a></li>
                    </ul>
                </li>
                <li class="collapsed">
                    <a class="m-link" data-bs-toggle="collapse" data-bs-target="#menu-sale" href="#">
                        <i class="icofont-code"></i> <span>Coupon</span> <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span></a>
                    <!-- Menu: Sub menu ul -->
                    <ul class="sub-menu collapse" id="menu-sale">
                        <li><a class="ms-link" href="{% url 'coupon-list' %}">Coupons List</a></li>
                        <li><a class="ms-link" href="{% url 'coupon-add' %}">Coupons Add</a></li>
                    </ul>
                </li>
                <li class="collapsed">
                    <a class="m-link" data-bs-toggle="collapse" data-bs-target="#customers-info" href="#">
                    <i class="icofont-funky-man fs-5"></i> <span>Customers</span> <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span></a>
                    <!-- Menu: Sub menu ul -->
                    <ul class="sub-menu collapse" id="customers-info">
                        <li><a class="ms-link" href="{% url 'customer-list' %}">Customers List</a></li>
                        <li><a class="ms-link" href="customer-detail.html">Customers Details</a></li>
                    </ul>
                </li>
                <li class="collapsed">
                    <a class="m-link" data-bs-toggle="collapse" data-bs-target="#imagegallery" href="#">
                        <i class="icofont-image"></i> <span>Image Gallery</span> <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span></a>
                    <!-- Menu: Sub menu ul -->
                    <ul class="sub-menu collapse" id="imagegallery">
                        <li><a class="ms-link" href="{% url 'image-add' %}">Image-Add</a></li>
                        <li><a class="ms-link" href="{% url 'image-list' %}">Image-List</a></li>
                    </ul>
                </li>
                <li class="collapsed">
                    <a class="m-link" data-bs-toggle="collapse" data-bs-target="#videogallery" href="#">
                        <i class="icofont-ui-video-play"></i> <span>Video Gallery</span> <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span></a>
                    <!-- Menu: Sub menu ul -->
                    <ul class="sub-menu collapse" id="videogallery">
                        <li><a class="ms-link" href="{% url 'video-add' %}">Video-Add</a></li>
                        <li><a class="ms-link" href="{% url 'video-list' %}">Video-List</a></li>
                    </ul>
                </li>
                
                <li class="collapsed">
                    <a class="m-link" data-bs-toggle="collapse" data-bs-target="#page" href="#">
                    <i class="icofont-page fs-5"></i> <span>Other Pages</span> <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span></a>
                    <!-- Menu: Sub menu ul -->
                    <ul class="sub-menu collapse" id="page">
                        <li><a class="ms-link" href="{% url 'contact-data-list' %}">Contact-Data</a></li>

                    </ul>
                </li>
            </ul>
            <!-- Menu: menu collepce btn -->
        </div>
    </div>
