{% extends 'store/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<style>
.tc_checkbox{
    margin-top: 6px;
    padding-right: 5px;
}
.form-check-label{
    padding-left: 7px;
}
</style>
    <div class="container my-4">
        <div class="register_page col-10 col-md-6 col-lg-5 border mx-auto shadow">
            <h4 class="pt-2" style=" height: 40px; text-align: center;">Create an account.</h4><hr class="mt-0">
            <form class="my-3"  method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    {{form|crispy}}
                </div>
                <button style="width: 100%; margin: 0 auto; background-color: #c1272d; color: white;" class="btn my-2">Create an account.</button>
            </form>
            <div class="border-top py-2">
                <small class="text-muted">
                    already have a account?<a href="{% url 'login' %}"> login in now</a>
                </small>
            </div>
        </div>
    </div>
{% endblock %}

