<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="container">
        <form action="{% url 'staff_login' %}" method="POST">
            {% csrf_token %}
            <label for="">Username</label>
            <input class="form-control" type="text" name="username" id="" >
            <label for="">Password</label>
            <input class="form-control" type="text" name="password" id="">

            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>