{% extends 'dashboard/base.html' %}
    
{% block dashboard %}
  
<div class="content-wrapper">
<div class="container-full">
<div class="row mt-5">
    <div class="col-12 col-md-8 mx-auto ">
        <div class="mt-5">
        <h3 style="text-align: center;">
            Are You sure you want to delete ( {{rating.product.product_name}} )  Product Rating
        </h3>

        </div>
        <form method="POST" action="">
            {% csrf_token %}
            <div style="text-align: center;">
                <a class="btn btn-sm btn-info" href="{% url 'campaign-product-list' %}">Cancel</a>
                <input class="btn btn-sm btn-danger" type="submit" name="Confirm" value="Delete">
            </div>
        </form>
    </div>
    
</div>
</div>
    
</div>
{% endblock dashboard %}