{% extends 'pos_dashboard/base.html' %}
{% block body %}


<div class="main-wrapper">
  <div class="page-wrapper">
    <div class="content">
      <div class="page-header">
        <div class="page-title">
          <h4>Sales Add</h4>
          <h6>Add/Update Sales</h6>
        </div>
      </div>
      <div x-data="jsonDataForm()">
        <form @submit="submitForm" id="jsonForm">
          <div class="card">
            <div class="card-body">
              <div class="row">



                <div class="col-lg-3 col-sm-6 col-12">
                  <div class="form-group">
                    <label>Customer:</label>
                    <select class="select" id="customer" name="customer" x-model="formData.customer">
                      <option value="">Select a customer</option>
                      <option value="1">one customer</option>
                      <option value="2">2 customer</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-4 col-12">
                  <div class="form-group">
                    <label>Phone number</label>
                    <div class="input-groupicon">
                      <input type="text" name="phone" x-model="formData.phone">
                    </div>
                  </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-4 col-12">
                  <div class="form-group">
                    <label for="date">Date:</label>
                    <div class="input-groupicon">
                      <input type="date" id="date" name="date" x-model="formData.date" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                  <div class="form-group">
                    <label>Status:</label>
                    <select class="select" id="status" name="status" x-model="formData.status">
                      <option value="">Choose Status</option>
                      <option value="1">complete</option>
                      <option value="0">pending</option>
                    </select>
                  </div>
                </div>


                <div class="col-lg-12 col-sm-6 col-12">
                  <div class="form-group">
                    <label>Products:</label>
                    <select class="select" id="mySelect" name="mySelect" x-ref="selectField">
                      <option value="">Select a product</option>
                      <option value="11" data-name="one product" data-id="1" data-price="10" data-age="25">one product
                      </option>
                      <option value="22" data-name="two product" data-id="2" data-price="15" data-age="35">2 product
                      </option>
                    </select>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-12 mt-0 mb-3">
                    <button type="button" @click="addProductToTable" class="btn btn-submit me-2">Add Product</button>
                  </div>
                </div>

                <div class="row">
                  <div class="table-responsive mt-3 mb-4">
                    <table class="table" style="min-height: 100px;">
                      <thead>
                        <tr>
                          <th class="text-center">Product Name</th>
                          <th class="text-center"><label for="quantity">Quantity:</span></label></th>
                          <th class="text-center">Subtotal</th>
                          <th class="text-center">Delete</th>
                        </tr>
                      </thead>
                      <tbody>
                        <!-- <tr>
                          <td class="col-lg-3 col-sm-6 col-md-4  ">

                          </td>
                          <td class="col-lg-3 col-sm-6 col-md-4 "></td>

                          <td class="col-lg-3 col-sm-6 col-md-4 "></td>

                          <td class="d-flex justify-content-center pb-3 pt-3">

                          </td>

                        </tr> -->


                        <template x-for="(product, index) in saleOrderProducts" :key="index">
                          <tr>
                            <!-- <td class="col-lg-3 col-sm-6 col-md-4  ">
                              <div class="form-group mb-2 mt-2">
                                <select class="select classToValidate" :id="'product'+ product.id "
                                  x-model="product.product" :name="'purchase_order_product_product' + product.id">
                                  <option value="">Select a product</option>
                                  <option value="1">one product</option>
                                  <option value="2">2 product</option>
                                </select>
                              </div>
                            </td> -->
                            <td class="col-lg-3 col-sm-6 col-md-4 ">
                              <span x-text="product.name"></span>
                            </td>

                            <td class="col-lg-3 col-sm-6 col-md-4 "><input class="form-control" type="number"
                                class="classToValidate" x-model="product.quantity"
                                :name="'sale_order_product_quantity' + product.id"></td>

                            <td class="col-lg-3 col-sm-6 col-md-4 "><input class="form-control" type="number"
                                class="classToValidate" step="0.01" x-model="product.sub_total"
                                :name="'sale_order_product_sub_total' + product.id"></td>


                            <td class="d-flex justify-content-center pb-3 pt-3">
                              <a href="javascript:void(0);" class="delete-set "><img
                                  src="https://dreamspos.dreamguystech.com/html/template/assets/img/icons/delete.svg"
                                  alt="svg"></a>
                            </td>

                            <input type="hidden" x-model="product.product">

                          </tr>

                        </template>

                      </tbody>
                    </table>
                  </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-4 col-12">
                  <div class="form-group">
                    <label for="payment_status">Payment Status:</label>
                    <div class="input-groupicon">
                      <input type="number" id="payment_status" name="payment_status" x-model="formData.payment_status"
                        class="form-control">
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-4 col-12">
                  <div class="form-group">
                    <label for="total_quantity">Total Quantity:</label>
                    <div class="input-groupicon">
                      <input type="number" id="total_quantity" name="total_quantity" x-model="formData.total_quantity"
                        class="form-control">
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-4 col-12">
                  <div class="form-group">
                    <label for="total">Total:</label>
                    <div class="input-groupicon">
                      <input type="number" step="0.01" id="total" name="total" x-model="formData.total"
                        class="form-control">
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-4 col-12">
                  <div class="form-group">
                    <label for="discount">Discount:</label>
                    <div class="input-groupicon">
                      <input type="number" step="0.01" id="discount" name="discount" x-model="formData.discount"
                        class="form-control">
                    </div>
                  </div>
                </div>
                <div class="col-lg-12 col-sm-6 col-12">
                  <div class="form-group">
                    <label for="note">Note:</label>
                    <div class="input-groupicon">
                      <input type="text" step="0.01" id="note" name="note" x-model="formData.note" class="form-control">
                    </div>
                  </div>
                </div>


                <div class="col-lg-3 col-sm-6 col-md-4 col-12">
                  <div class="form-group">
                    <label for="shipping_cost">Shipping Cost:</label>

                    <div class="input-groupicon">
                      <input type="number" step="0.01" id="shipping_cost" name="shipping_cost"
                        x-model="formData.shipping_cost" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-4 col-12">
                  <div class="form-group">
                    <label for="grand_total">Grand Total:</label>
                    <div class="input-groupicon">
                      <input type="number" step="0.01" id="grand_total" name="grand_total"
                        x-model="formData.grand_total" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-4 col-12">
                  <div class="form-group">
                    <label for="paid">Paid:</label>
                    <div class="input-groupicon">
                      <input type="number" step="0.01" id="paid" name="paid" x-model="formData.paid"
                        class="form-control">
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-4 col-12">
                  <div class="form-group">
                    <label for="due">Due:</label>
                    <div class="input-groupicon">
                      <input type="number" step="0.01" id="due" name="due" x-model="formData.due" class="form-control">
                    </div>
                  </div>
                </div>


                <div class="col-lg-3 col-sm-6 col-md-4 col-12">
                  <div class="form-group">
                    <label for="sale_order_product">Sale Order Products:</label>
                    <div class="input-groupicon">
                      <input type="number" id="customer" name="customer" x-model="formData.customer"
                        class="form-control">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-12">
                    <button type="submit" class="btn btn-cancel">Submit</button>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>




{% endblock body %}


{% block script %}


<script>


  function jsonDataForm() {
    return {
      formData: {
        phone: null,
        date: null,
        status: null,
        payment_status: null,
        total_quantity: null,
        total: null,
        discount: null,
        shipping_cost: null,
        grand_total: null,
        paid: null,
        due: null,
        note: null,
        customer: null,
      },
      counter_saleOrderProducts: 0,
      saleOrderProducts: [],





      addProductField(params) {
        this.counter_saleOrderProducts = this.counter_saleOrderProducts + 1;

        this.saleOrderProducts.push({ quantity: null, product: params.id, sub_total: null, id: this.counter_saleOrderProducts, name: params.name });
        //     console.log(`#product${this.counter_saleOrderProducts}`)
        this.$nextTick(function () {
          $(".select").select2();
        });

      },

      addProductToTable() {
        const selectField = document.getElementById('mySelect');

        const selectedOption = selectField.options[selectField.selectedIndex];
        const selectedValue = selectedOption.value;

        const name = selectedOption.dataset.name;
        const id = selectedOption.dataset.id;
        const price = selectedOption.dataset.price;
        const age = selectedOption.dataset.age;

        if (selectedValue) {
          console.log(name, price, age, id)
          // Re-select the "choice a Option" value
          this.addProductField({ name, price, age, id })
          $('#mySelect').val("").trigger('change');
        }

      },




      addValidation(val) {

        $("#jsonForm .classToValidate").each(function () {
          $(this).rules('add', {
            required: true
          });
        });
      },

      submitForm(e) {
        e.preventDefault();
        const $form = $('#jsonForm');
        // if ($form.valid()) {
        const formData = { ...this.formData };
        formData.sale_order_product = this.saleOrderProducts;
        console.log(JSON.stringify(formData));

        // axios.post('http://127.0.0.1:8000/api/sales/create/', formData, {
        //   headers: {
        //     'Content-Type': 'application/json',
        //   },
        // })
        //   .then((response) => {
        //     console.log('Successfully submitted:', response.data);
        //   })
        //   .catch((error) => {
        //     console.error('Error submitting form:', error);
        //   });


        // }
      },



    };
  }






</script>


<script>
  // Initialize jQuery Validation Plugin after the document is ready
  $(document).ready(function () {
    $('#jsonForm').validate({
      rules: {
        phone: {
          required: true,
          // Add any specific phone validation rules here, e.g., minlength, maxlength, regex, etc.
        },
        date: {
          required: true,
          // Add any specific date validation rules here, e.g., date format, etc.
        },
        status: {
          required: true,
          // Add any specific validation rules for the status field here.
        },
        payment_status: {
          required: true,
          // Add any specific validation rules for the payment_status field here.
        },
        total_quantity: {
          required: true,
          // Add any specific validation rules for the total_quantity field here.
        },
        total: {
          required: true,
          // Add any specific validation rules for the total field here.
        },
        discount: {
          required: true,
          // Add any specific validation rules for the discount field here.
        },
        shipping_cost: {
          required: true,
          // Add any specific validation rules for the shipping_cost field here.
        },
        grand_total: {
          required: true,
          // Add any specific validation rules for the grand_total field here.
        },
        paid: {
          required: true,
          // Add any specific validation rules for the paid field here.
        },
        due: {
          required: true,
          // Add any specific validation rules for the due field here.
        },
        note: {
          required: true,
          // Add any specific validation rules for the note field here.
        },
        customer: {
          required: true,
          // Add any specific validation rules for the customer field here.
        },

      },

    });

  });
</script>




{% endblock script %}