{% extends 'pos_dashboard/base.html' %}
{% block body %}

<div class="main-wrapper">
    <div class="page-wrapper">
        <div class="content">
            <div class="page-header">
                <div class="page-title">
                    <h4>Sales Add</h4>
                    <h6>Add/Update Sales</h6>
                </div>
            </div>
            <div x-data="jsonDataForm()">
                <form @submit="submitForm" id="jsonForm">
                    <div class="card">
                        <div class="card-body">
                            <div class="row"> 
                                
                                    <div class="col-lg-3 col-sm-6 col-md-4 col-12">
                                        <div class="form-group">
                                            <label for="customer">Customer:</label>
                                            <div class="input-groupicon">
                                                <input type="number" id="customer" name="customer" x-model="formData.customer" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 col-md-4 col-12">
                                        <div class="form-group">
                                            <label>Phone number</label>
                                            <div class="input-groupicon">
                                                <input type="text" name="phone" x-model="formData.phone">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-sm-6 col-md-4 col-12">
                                        <div class="form-group">
                                            <label for="date">Date:</label>
                                            <div class="input-groupicon">
                                                <input type="date" id="date" name="date" x-model="formData.date" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 col-md-4 col-12">
                                        <div class="form-group">
                                            <label for="status">Status:</label>

                                            <div class="input-groupicon">
                                                <input type="number" id="status" name="status" x-model="formData.status" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 col-md-4 col-12">
                                        <div class="form-group">
                                            <label for="payment_status">Payment Status:</label>
                                            <div class="input-groupicon">
                                                <input type="number" id="payment_status" name="payment_status" x-model="formData.payment_status" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 col-md-4 col-12">
                                        <div class="form-group">
                                            <label for="total_quantity">Total Quantity:</label>
                                            <div class="input-groupicon">
                                                <input type="number" id="total_quantity" name="total_quantity" x-model="formData.total_quantity" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 col-md-4 col-12">
                                        <div class="form-group">
                                            <label for="total">Total:</label>
                                            <div class="input-groupicon">
                                                <input type="number" step="0.01" id="total" name="total" x-model="formData.total" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 col-md-4 col-12">
                                        <div class="form-group">
                                            <label for="discount">Discount:</label>
                                            <div class="input-groupicon">
                                                <input type="number" step="0.01" id="discount" name="discount" x-model="formData.discount" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-sm-6 col-md-4 col-12">
                                        <div class="form-group">
                                            <label for="note">Note:</label>
                                            <div class="input-groupicon">
                                                <textarea id="note" name="note" x-model="formData.note" class="form-control"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 col-md-4 col-12">
                                        <div class="form-group">
                                            <label for="shipping_cost">Shipping Cost:</label>

                                            <div class="input-groupicon">
                                                <input type="number" step="0.01" id="shipping_cost" name="shipping_cost" x-model="formData.shipping_cost" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 col-md-4 col-12">
                                        <div class="form-group">
                                            <label for="grand_total">Grand Total:</label>
                                            <div class="input-groupicon">
                                                <input type="number" step="0.01" id="grand_total" name="grand_total" x-model="formData.grand_total" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 col-md-4 col-12">
                                        <div class="form-group">
                                            <label for="paid">Paid:</label>
                                            <div class="input-groupicon">
                                                <input type="number" step="0.01" id="paid" name="paid" x-model="formData.paid" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 col-md-4 col-12">
                                        <div class="form-group">
                                            <label for="due">Due:</label>
                                            <div class="input-groupicon">
                                                <input type="number" step="0.01" id="due" name="due" x-model="formData.due" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    
                                   
                                    <div class="col-lg-3 col-sm-6 col-md-4 col-12">
                                        <div class="form-group">
                                            <label for="sale_order_product">Sale Order Products:</label>
                                            <div class="input-groupicon">
                                                <input type="number" id="customer" name="customer" x-model="formData.customer" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    

                                    <template x-for="(product, index) in saleOrderProducts" :key="index">
                                        <div>
                                            <div class="col-lg-2 col-sm-6 col-md-4 col-12">
                                                <div class="form-group">
                                                    <label for="quantity">Quantity: <span x-text="product.id"></span></label>
                                                    <div class="input-groupicon">
                                                        <input type="number" x-model="product.quantity" :name="{product.id}" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-sm-6 col-md-4 col-12">
                                                <div class="form-group">
                                                    <label for="product">Product:</label>
                                                    <div class="input-groupicon">
                                                        <input type="number" x-model="product.product" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-sm-6 col-md-4 col-12">
                                                <div class="form-group">
                                                    <label for="sub_total">Sub Total:</label>
                                                    <div class="input-groupicon">
                                                        <input type="number" step="0.01" x-model="product.sub_total" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </template>

                                    <div class="row">
                                        <div class="col-lg-12">
                                            <button type="button" @click="addProductField" class="btn btn-submit me-2">Add Product</button>
                                            <button type="submit" class="btn btn-cancel">Submit JSON</button>
                                           
                                        </div>
                                    </div>
                            </div>
                        </div> 
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock body %}


{% block script %}

<!-- total_price -->
<script>
    $(document).ready(function () {
        // Get the CSRF token
        var csrftoken = $('[name="csrfmiddlewaretoken"]').val();

        // Retrieve the necessary elements
        var quantityInput = $('#id_quantity');
        var unitPriceInput = $('#id_unit_price');
        var totalInput = $('#id_total_price');
        var subtotalInput = $('#id_sub_total');

        var total_price_Input = $('#id_total_price');
        var discount_price_input = $('#id_total_descount');
        var subtotalInput = $('#id_sub_total');


        var paidamountInput = $('#id_paid');
        var dueamountInput = $('#id_due');

       
// Function to send AJAX request and update total
        function updateTotal() {
            
            var quantity_val = quantityInput.val();
            var unitPrice_val = unitPriceInput.val();
            let discount_price_input_val = discount_price_input.val()
            var paid_price_val = paidamountInput.val();

            totalInput.val(quantity_val*unitPrice_val);

  
            subtotalInput.val(quantity_val * unitPrice_val - (discount_price_input_val || 0));

            subtotalInput_val = subtotalInput.val()

            dueamountInput.val(subtotalInput_val-paid_price_val)
         
        }
        paidamountInput.on('change', updateTotal);
        
        
        // Attach change event listeners to the quantity and unit price inputs
        quantityInput.on('change', updateTotal);
        unitPriceInput.on('change', updateTotal);

        total_price_Input.on('change', updateTotal);
        discount_price_input.on('change', updateTotal);

        sub_total_Input.on('change', updateTotal);

    });

</script>



{% endblock script %}

