{% extends 'pos_dashboard/base.html' %}
{% block body %}


<div class="main-wrapper">
    <div class="page-wrapper">
        <div class="content">
            <div class="page-header">
                <div class="page-title">
                    <h4>Purchase Add</h4>
                    <h6>Add/Update Purchase</h6>
                </div>
            </div>
            <!-- <form action="{% url 'purchase_product' %}" method="POST" enctype="multipart/form-data">
                <div class="card">
                    <div class="card-body">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-3 col-sm-6 col-md-4 col-12">
                                <div class="form-group">
                                    <label>Supplier Name</label>
                                    <select class="select" name="supplier_name" >
                                    <option value="" selected="">Select Supplier--</option>
                                    {% for x in supplier %}
                                    <option value="{{ x.pk }}">{{ x.name }}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-3 col-sm-6 col-md-4 col-12">
                                <div class="form-group">
                                    <label>Phone number</label>
                                    <div class="input-groupicon">
                                        <input type="number" name="phone" class="form-control" placeholder="Phone Number">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-sm-6 col-md-4 col-12">
                                <div class="form-group">
                                    <label>Start Date</label>
                                    <div class="input-groupicon">
                                        <input type="date" name="billing_date" class="form-control" placeholder="Start Date">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-sm-6 col-md-4 col-12">
                                <div class="form-group">
                                    <label>Product Name</label>
                                    <div class="input-groupicon">
                                        <input type="text" name="product_name" class="form-control" placeholder="Product Name">
                                    </div>
                                </div>
                            </div>


                            <div class="col-lg-2 col-sm-6 col-md-4 col-12">
                                <div class="form-group">
                                    <label>Product Code</label>
                                    <div class="input-groupicon">
                                        <input type="text" name="product_code" class="form-control" placeholder="Product Code">
                                    </div>
                                </div>
                            </div>


                            <div class="col-lg-3 col-sm-6 col-md-4 col-12">
                                <div class="form-group">
                                    <label>Category Select</label>

                                    <select class="select" name="category" >
                                    <option value="" selected="">Select category--</option>
                                    {% for x in category %}
                                    <option value="{{ x.pk }}">{{ x.category_name }}</option>
                                    {% endfor %}
                                    </select>

                                </div>
                            </div>


                            <div class="col-lg-3 col-sm-6 col-md-4 col-12">
                                <div class="form-group">
                                    <label>Brand Select</label>
                                    <select class="select" name="brand" >
                                    <option value="" selected="">Select Brand--</option>
                                    {% for x in brand %}
                                    <option value="{{ x.pk }}">{{ x.name }}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-2 col-sm-6 col-md-4 col-12">
                                <div class="form-group">
                                    <label>Quantity</label>
                                    <div class="input-groupicon">
                                        
                                        <input type="number" id="id_quantity" name="quantity" class="form-control" placeholder="Quantity">

                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-2 col-sm-6 col-md-4 col-12">
                                <div class="form-group">
                                    <label>Unit</label>
                                    <select class="select" name="unit" >
                                    <option value="" selected="">Select Unit--</option>
                                    {% for x in unit %}
                                    <option value="{{ x.pk }}">{{ x.name }}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-2 col-sm-6 col-md-4 col-12">
                                <div class="form-group">
                                    <label>Unit Price</label>
                                    <div class="input-groupicon">
                                        <input type="number" id="id_unit_price" name="unit_price" class="form-control" placeholder="Unit Price">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 col-md-4 col-12">
                                <div class="form-group">
                                    <label>Buy Price</label>
                                    <div class="input-groupicon">
                                        <input type="number" name="buy_price" class="form-control" placeholder="Buy Price">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 col-md-4 col-12">
                                <div class="form-group">
                                    <label>Sale Price</label>
                                    <div class="input-groupicon">
                                        <input type="number" name="sale_price" class="form-control" placeholder="Sales Price">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 col-md-4 col-12">
                                <div class="form-group">
                                    <label>Whole Sale Price</label>
                                    <div class="input-groupicon">
                                        <input type="number" name="whole_sale_price" class="form-control" placeholder="Whole Sales Price">
                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class="row">
                            <div class="col-lg-12 float-md-right">
                                <div class="total-order">
                                    <ul>
                                        <li>
                                            <h4>Total Price</h4>
                                        <input type="number" name="total_price" readonly="True" id="id_total_price" class="form-control" placeholder="Total Price">
                                        </li>
                                        <li>
                                            <h4>Discount % </h4>
                                        <input type="number" name="total_descount" id="id_total_descount" class="form-control" placeholder="Discount Price %">
                                        </li>
                                        <li>
                                            <h4>Sub Total</h4>
                                        <input type="number" name="sub_total" id="id_sub_total" class="form-control" placeholder="Sub Total Price">
                                        </li>
                                        <li class="total">
                                            <h4>Paid</h4>
                                        <input type="number" name="paid" id="id_paid" class="form-control" placeholder="Paid Price">
                                        </li>

                                        <li class="total">
                                            <h4>Due</h4>
                                        <input type="number" name="due" id="id_due" class="form-control" placeholder="Due Price">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {{ form.image }}
                           
                            <div class="col-lg-12">
                                <button type="submit" class="btn btn-submit me-2">Submit</button>
                                <a href="#"class="btn btn-cancel">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form> -->
            <div x-data="jsonDataForm()">
                <form @submit="submitForm" id="jsonForm">
                    <div class="card">
                        <div class="card-body">
                            <div class="row"> 

                                    <div class="col-lg-3 col-sm-6 col-md-4 col-12">
                                        <div class="form-group">
                                            <label for="supplier">Supplier:</label>
                                            <select class="form-select" name="supplier" id="supplier">
                                            <option value="1">Supplier 1</option>
                                            <option value="2">Supplier 2</option>
                                            <option value="3">Supplier 3</option>
                                            </select>
                                        </div>
                                    </div>
                                
                                    <div class="col-lg-3 col-sm-6 col-md-4 col-12">
                                        <div class="form-group">
                                            <label for="phone">Phone number</label>
                                            <div class="input-groupicon">
                                                <input type="number" name="phone" id="phone" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    

                                    <div class="col-lg-3 col-sm-6 col-md-4 col-12">
                                        <div class="form-group">
                                            <label for="date">Date:</label>
                                            <div class="input-groupicon">
                                                <input type="date" id="date" name="date" x-model="formData.date" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 col-md-4 col-12">
                                        <div class="form-group">
                                            <label for="status">Status:</label>

                                            <div class="input-groupicon">
                                                <input type="number" id="status" name="status" x-model="formData.status" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 col-md-4 col-12">
                                        <div class="form-group">
                                            <label for="payment_status">Payment Status:</label>
                                            <div class="input-groupicon">
                                                <input type="number" id="payment_status" name="payment_status" x-model="formData.payment_status" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 col-md-4 col-12">
                                        <div class="form-group">
                                            <label for="total_quantity">Total Quantity:</label>
                                            <div class="input-groupicon">
                                                <input type="number" id="total_quantity" name="total_quantity" x-model="formData.total_quantity" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 col-md-4 col-12">
                                        <div class="form-group">
                                            <label for="total">Total:</label>
                                            <div class="input-groupicon">
                                                <input type="number" step="0.01" id="total" name="total" x-model="formData.total" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 col-md-4 col-12">
                                        <div class="form-group">
                                            <label for="discount">Discount:</label>
                                            <div class="input-groupicon">
                                                <input type="number" step="0.01" id="discount" name="discount" x-model="formData.discount" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-12 col-sm-6 col-md-4 col-12">
                                        <div class="form-group">
                                            <label for="note">Note:</label>
                                            <div class="input-groupicon">
                                                <textarea id="note" name="note" x-model="formData.note" class="form-control"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-12 mt-3">
                                            <button type="button" @click="addProductField" class="btn btn-submit me-2">Add Product</button>                                           
                                        </div>
                                    </div>
                                    
                                        <div class="row">
                                            <div  class="table-responsive mt-3 mb-4">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-center">Product Name</th>
                                                            <th class="text-center"><label for="quantity">Quantity:</span></label></th>
                                                            <th class="text-center">Subtotal</th>
                                                            <th class="text-center">Delete</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        
                                                        <template x-for="(product, index) in purchaseOrderProducts" :key="index">
                                                            <tr>
                                                                <td class="col-lg-3 col-sm-6 col-md-4  ">
                                                                    <div class="form-group">
                                                                        <select id="product" class="classToValidate" x-model="product.product":name="'purchase_order_product_product' + product.id">
                                                                            <option value="">Select a product</option>
                                                                            <option value="1">one product</option>
                                                                            <option value="2">2 product</option>
                                                                        </select>
                                                                    </div>
                                                                </td>
                                                                <td class="col-lg-3 col-sm-6 col-md-4 "> <input class="form-control" type="number" class="classToValidate" x-model="product.quantity":name="'purchase_order_product_quantity' + product.id"></td>
                                                                
                                                                <td class="col-lg-3 col-sm-6 col-md-4 "><input class="form-control" type="number" class="classToValidate" step="0.01" x-model="product.sub_total":name="'purchase_order_product_sub_total' + product.id"></td>
                                                            
                                                                <td>
                                                                    <a href="javascript:void(0);" class="delete-set d-flex justify-content-center "><img src="https://dreamspos.dreamguystech.com/html/template/assets/img/icons/delete.svg" alt="svg"></a>
                                                                </td>
                                                            </tr>
    
                                                        </template>
                                                        
                                                    
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    <div class="col-lg-3 col-sm-6 col-md-4 col-12">
                                        <div class="form-group">
                                            <label for="shipping_cost">Shipping Cost:</label>

                                            <div class="input-groupicon">
                                                <input type="number" step="0.01" id="shipping_cost" name="shipping_cost" x-model="formData.shipping_cost" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 col-md-4 col-12">
                                        <div class="form-group">
                                            <label for="grand_total">Grand Total:</label>
                                            <div class="input-groupicon">
                                                <input type="number" step="0.01" id="grand_total" name="grand_total" x-model="formData.grand_total" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 col-md-4 col-12">
                                        <div class="form-group">
                                            <label for="paid">Paid:</label>
                                            <div class="input-groupicon">
                                                <input type="number" step="0.01" id="paid" name="paid" x-model="formData.paid" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 col-md-4 col-12">
                                        <div class="form-group">
                                            <label for="due">Due:</label>
                                            <div class="input-groupicon">
                                                <input type="number" step="0.01" id="due" name="due" x-model="formData.due" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 col-md-4 col-12">
                                        <div class="form-group">
                                            <label for="due">Purchase order product</label>
                                            <div class="input-groupicon">
                                                <input type="number" id="customer" name="customer" x-model="formData.customer" class="form-control">
                                            </div>
                                        </div>
                                    </div>

                                    
                                    <template x-for="(product, index) in purchaseOrderProduct" :key="index">
                                        <div>
                                            <div class="col-lg-2 col-sm-6 col-md-4 col-12">
                                                <div class="form-group">
                                                    <label for="quantity">Quantity <span x-text="product.id"></span></label>
                                                    <div class="input-groupicon">
                                                        <input type="number" x-model="product.quantity" :name="{product.id}" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-sm-6 col-md-4 col-12">
                                                <div class="form-group">
                                                    <label for="product">Product:</label>
                                                    <div class="input-groupicon">
                                                        <input type="number" x-model="product.product" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-sm-6 col-md-4 col-12">
                                                <div class="form-group">
                                                    <label for="sub_total">Sub Total:</label>
                                                    <div class="input-groupicon">
                                                        <input type="number" step="0.01" x-model="product.sub_total" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-sm-6 col-md-4 col-12">
                                                <div class="form-group">
                                                    <label for="purchase">Purchase</label>
                                                    <div class="input-groupicon">
                                                        <input type="number" step="0.01" x-model="product.purchase" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </template>

                                    <div class="row">
                                        <div class="col-lg-12">
                                            <button type="submit" class="btn btn-cancel">Submit </button>
                                           
                                        </div>
                                    </div>
                            </div>
                        </div> 
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock body %}


{% block script %}

<script>


    // Initialize jQuery Validation Plugin after the document is ready
    $(document).ready(function () {
      $('#jsonForm').validate({
        rules: {
          phone: {
            required: true,
            digits: true
          },
          date: {
            required: true
          },
          status: {
            required: true,
            digits: true
          },
          payment_status: {
            required: true,
            digits: true
          },
          total_quantity: {
            required: true,
            digits: true
          },
          total: {
            required: true,
            number: true
          },
          discount: {
            required: true,
            number: true
          },
          shipping_cost: {
            required: true,
            number: true
          },
          grand_total: {
            required: true,
            number: true
          },
          paid: {
            required: true,
            number: true
          },
          due: {
            required: true,
            number: true
          },
          note: {
            required: true,
            maxlength: 500
          },
          supplier: {
            required: true,
          },
        },
      });

    });


    function jsonDataForm() {
      return {
        formData: {
          phone: null,
          date: null,
          status: null,
          payment_status: null,
          total_quantity: null,
          total: null,
          discount: null,
          shipping_cost: null,
          grand_total: null,
          paid: null,
          due: null,
          note: null,
          supplier: null,
        },
        counter_purchaseOrderProducts: 0,
        purchaseOrderProducts: [],

        addProductField() {
          this.counter_purchaseOrderProducts = this.counter_purchaseOrderProducts + 1;
          this.purchaseOrderProducts.push({ quantity: null, product: null, sub_total: null, id: this.counter_purchaseOrderProducts });

        },

        addValidation(val) {
          $("#jsonForm .classToValidate").each(function () {
            $(this).rules('add', {
              required: true
            });
          });
        },

        submitForm(e) {
          e.preventDefault();
          const $form = $('#jsonForm');
          if ($form.valid()) {
            const formData = { ...this.formData };
            formData.purchase_order_product = this.purchaseOrderProducts;
            console.log(JSON.stringify(formData));


            fetch('http://127.0.0.1:8000/api/purchases/create/', {
              method: 'POST',
              body: JSON.stringify(formData),
              headers: {
                'Content-Type': 'application/json',
              },
            })
              .then((response) => response.json())
              .then((data) => {
                console.log('Successfully submitted:', data);
              })
              .catch((error) => {
                console.error('Error submitting form:', error);
              });


          }
        },



      };
    }

  </script>

{% endblock script %}

