{% extends 'pos_dashboard/base.html' %}
{% load static %}
{% block body %}

<div class="main-wrapper">

<div class="page-wrapper">
<div class="content">
<div class="page-header">
<div class="page-title">
<h4>Supplier List</h4>
<h6>Manage your supplier</h6>
</div>
<div class="page-btn">
<a href="{% url 'add_product' %}" class="btn btn-added"><img src="https://dreamspos.dreamguystech.com/html/template/assets/img/icons/plus.svg" alt="img" class="me-1">Add New Product</a>
</div>
</div>

<div class="card">
<div class="card-body">
<div class="table-top">
<div class="search-set">
<div class="search-path">
<a class="btn btn-filter" id="filter_search">
<img src="https://dreamspos.dreamguystech.com/html/template/assets/img/icons/filter.svg" alt="img">
<span><img src="https://dreamspos.dreamguystech.com/html/template/assets/img/icons/closes.svg" alt="img"></span>
</a>
</div>
<div class="search-input">
<a class="btn btn-searchset"><img src="https://dreamspos.dreamguystech.com/html/template/assets/img/icons/search-white.svg" alt="img"></a>
</div>
</div>
<div class="wordset">
<ul>
<li>
<a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"><img src="https://dreamspos.dreamguystech.com/html/template/assets/img/icons/pdf.svg" alt="img"></a>
</li>
<li>
<a data-bs-toggle="tooltip" data-bs-placement="top" title="excel"><img src="https://dreamspos.dreamguystech.com/html/template/assets/img/icons/excel.svg" alt="img"></a>
</li>
<li>
<a data-bs-toggle="tooltip" data-bs-placement="top" title="print"><img src="https://dreamspos.dreamguystech.com/html/template/assets/img/icons/printer.svg" alt="img"></a>
</li>
</ul>
</div>
</div>

<div class="card mb-0" id="filter_inputs">
 <div class="card-body pb-0">
<div class="row">
<div class="col-lg-12 col-sm-12">
<div class="row">
<div class="col-lg col-sm-6 col-12">
<div class="form-group">
<select class="select">
<option>Choose Product</option>
<option>Macbook pro</option>
<option>Orange</option>
</select>
</div>
</div>
<div class="col-lg col-sm-6 col-12">
<div class="form-group">
<select class="select">
<option>Choose Category</option>
<option>Computers</option>
<option>Fruits</option>
</select>
</div>
</div>
<div class="col-lg col-sm-6 col-12">
<div class="form-group">
<select class="select">
<option>Choose Sub Category</option>
<option>Computer</option>
</select>
</div>
</div>
<div class="col-lg col-sm-6 col-12">
<div class="form-group">
<select class="select">
<option>Brand</option>
<option>N/D</option>
</select>
</div>
</div>
<div class="col-lg col-sm-6 col-12 ">
<div class="form-group">
<select class="select">
<option>Price</option>
<option>150.00</option>
</select>
</div>
</div>
<div class="col-lg-1 col-sm-6 col-12">
<div class="form-group">
<a class="btn btn-filters ms-auto"><img src="https://dreamspos.dreamguystech.com/html/template/assets/img/icons/search-whites.svg" alt="img"></a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="table-responsive">
<table class="table  datanew">
<thead>
<tr>
<th>
<!-- <label class="checkboxs">
<input type="checkbox" id="select-all">
<span class="checkmarks"></span>
</label> -->
</th>
<th>Image</th>
<th>Supplier Name</th>
<th>Supplier Type</th>
<th>Supplier ID</th>
<th>Phone </th>
<th>Email</th>
<th>Amount</th>
<th>Action</th>
</tr>
</thead>
<tbody>

    {% for p in supplier_list %}
<tr>
<td>
<!-- <label class="checkboxs">
<input type="checkbox">
<span class="checkmarks"></span>
</label> -->
</td>
<td class="productimgname">
    <img src="{{ p.image.url }}" alt="product" width="30px">
</td>

<td>
{{ p.name }}
</td>
<td>{{ p.supplier_type }}</td>
<td>{{ p.supplier_ID }}</td>
<td>{{ p.phone }}</td>
<td>{{ p.email }}</td>

<td>{{ p.amount }}</td> 


<td>
<a class="me-3" href="https://dreamspos.dreamguystech.com/html/template/product-details.html">
<img src="https://dreamspos.dreamguystech.com/html/template/assets/img/icons/eye.svg" alt="img">
</a>
<a class="me-3" href="https://dreamspos.dreamguystech.com/html/template/editproduct.html">
<img src="https://dreamspos.dreamguystech.com/html/template/assets/img/icons/edit.svg" alt="img">
</a>
<a class="confirm-text" href="javascript:void(0);">
<img src="https://dreamspos.dreamguystech.com/html/template/assets/img/icons/delete.svg" alt="img">

</a>
</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
</div>

</div>
</div>
</div>


{% endblock body %}