<!DOCTYPE html>
<html lang="en">
  
<head>
	{% load static %}
  {% load logo %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="evazu-dashboard">
    <meta name="author" content="evazu">
    <link rel="icon" href="">

    <title>IMPRESS MART-DASHBOARD</title>
    
	<!-- Vendors Style-->
	<link rel="stylesheet" href="{% static 'dashboard/css/vendors_css.css' %}">
	  
	<!-- Style-->  
	<link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}">
	<link rel="stylesheet" href="{% static 'dashboardcss/skin_color.css' %}">
	<link rel="stylesheet" href="{% static 'dashboard/css/font-awesome.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="hold-transition light-skin sidebar-mini theme-primary fixed">

    <header class="main-header">
        <div class="d-flex align-items-center logo-box justify-content-start">
            <a href="#" class="waves-effect waves-light nav-link d-none d-md-inline-block mx-10 push-btn bg-transparent hover-primary" data-toggle="push-menu" role="button">
                <span class="icon-Align-left"><span class="path1"></span><span class="path2"></span><span class="path3"></span></span>
            </a>	
            <!-- Logo -->
            <a href="{% url 'dashboard-home' %}" class="logo">
              <!-- logo-->
              <div class="logo-lg">               
                  {% for l in  request|logo %}
                  <span class="light-logo"><img src="{{ l.image.url }}" alt="logo" style="width: 150px;"></span>                      
              {% endfor %}   
              </div>
            </a>	
        </div>  
        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top">
          <!-- Sidebar toggle button-->
          <div class="app-menu">
            <ul class="header-megamenu nav">
                <li class="btn-group nav-item d-md-none">
                    <a href="#" class="waves-effect waves-light nav-link push-btn btn-info-light" data-toggle="push-menu" role="button">
                        <span class="icon-Align-left"><span class="path1"></span><span class="path2"></span><span class="path3"></span></span>
                    </a>
                </li>
                <!-- <li class="btn-group nav-item d-none d-xl-inline-block">
                    <div class="app-menu">
                        <div class="search-bx mx-5">
                            <form>
                                <div class="input-group">
                                  <input type="search" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="button-addon2">
                                  <div class="input-group-append">
                                    <button class="btn" type="submit" id="button-addon3"><i class="ti-search"></i></button>
                                  </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </li> -->
            </ul> 
          </div>
            
          <div class="navbar-custom-menu r-side">
            <ul class="nav navbar-nav">	
                <li class="btn-group nav-item d-lg-inline-flex d-none">
                    <a href="#" data-provide="fullscreen" class="waves-effect waves-light nav-link full-screen btn-info-light" title="Full Screen">
                        <i class="icon-Expand-arrows"><span class="path1"></span><span class="path2"></span></i>
                    </a>
                </li>	
              <!-- Notifications -->
              <li class="dropdown notifications-menu">
                <span class="label label-primary">{{ order_count }}</span>
                <a href="#" class="waves-effect waves-light dropdown-toggle btn-primary-light" data-bs-toggle="dropdown" title="Order Notifications">
                  <i class="fa fa-th-list" aria-hidden="true"></i>
                </a>
                <ul class="dropdown-menu animated bounceIn">
    
                  <li class="header">
                    <div class="p-20">
                        <div class="flexbox">
                            <div>
                                <h4 class="mb-0 mt-0">New Order</h4>
                            </div>
                        </div>
                    </div>
                  </li>  
                  <li>
                    <!-- inner menu: contains the actual data -->
                    <ul class="menu sm-scrol">
                      
                      {% for o in order_list %}
                                                
                      <li>
                        <a href="{% url 'order-details' o.pk %}">
                          <i class="fa fa-list text-info"></i>OrderID : {{ o.id }}
                        </a>
                      </li>
                      {% endfor %}

                    </ul>
                  </li>
                  <li class="footer">
                      <a href="{% url 'all-order' %}">View all</a>
                  </li>
                </ul>
              </li>	
              
              <!-- Messages -->
              <li class="dropdown messages-menu">
                <span class="label label-info">{{ contact_data_count }}</span>
                <a href="#" class="dropdown-toggle btn-info-light" data-bs-toggle="dropdown" title="Messages">
                  <i class="icon-Incoming-mail"><span class="path1"></span><span class="path2"></span></i>
                </a>
                <ul class="dropdown-menu animated bounceIn">
    
                  <li class="header">
                    <div class="p-20">
                        <div class="flexbox">
                            <div>
                                <h5 class="mb-0 mt-0">Contact Us</h5>
                            </div>
                        </div>
                    </div>
                  </li>
                  <li>
                    <!-- inner menu: contains the actual data -->
                    <ul class="menu sm-scrol">
                      <li><!-- start message -->
                          {% for c in contact_data_list %}
                           <a href="{% url 'contact-detail' c.pk %}">{{ c.email }}</a>
                          {% endfor %}

                      </li>
                    </ul>
                  </li>
                  <li class="footer">				  
                      <a href="{% url 'contact-list' %}">View all</a>
                  </li>
                </ul>
              </li>  
              <!-- Right Sidebar Toggle Button -->
              <li class="btn-group nav-item d-xl-none d-inline-flex">
                  <a href="#" class="push-btn right-bar-btn waves-effect waves-light nav-link full-screen btn-info-light">
                      <span class="icon-Layout-left-panel-1"><span class="path1"></span><span class="path2"></span></span>
                  </a>
              </li>
              <!-- User Account-->
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle p-0 text-dark hover-primary ms-md-30 ms-10" data-bs-toggle="dropdown" title="User">
                    <span class="ps-30 d-md-inline-block d-none">Hello,</span> <strong class="d-md-inline-block d-none">{{ request.user.username }}</strong><img src="{{ request.user.profile.image.url }}" class="user-image rounded-circle avatar bg-white mx-10" alt="User Image">
                </a>
                <ul class="dropdown-menu animated flipInX">
                  <li class="user-body">
                     <a class="dropdown-item" href="#"><i class="ti-user text-muted me-2"></i> Profile</a>
                     <div class="dropdown-divider"></div>
                     <a class="dropdown-item" href="{% url 'logout' %}"><i class="ti-lock text-muted me-2"></i> Logout</a>
                  </li>
                </ul>
              </li>	
                
            </ul>
          </div>
        </nav>
      </header>
      
      <aside class="main-sidebar">
        <!-- sidebar-->
        <section class="sidebar position-relative">	
              <div class="multinav">
              <div class="multinav-scroll" style="height: 100%;">	
                  <!-- sidebar menu-->
                  <ul class="sidebar-menu" data-widget="tree">
                    <li class="treeview">
                      <a href="#">
                        <i class="fa fa-flag" aria-hidden="true"></i>
                        <span>Website Logo</span>
                        <span class="pull-right-container">
                          <i class="fa fa-angle-right pull-right"></i>
                        </span>
                      </a>
                      <ul class="treeview-menu">
                        <li><a href="{% url 'logo-list' %}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Logo List</a></li>
                        <li><a href="menu_list.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Add Logo</a></li>
                      </ul>
                    </li>
                    <li class="treeview">
                      <a href="#">
                        <i class="fa fa-picture-o" aria-hidden="true"></i>
                        <span>Banner</span>
                        <span class="pull-right-container">
                          <i class="fa fa-angle-right pull-right"></i>
                        </span>
                      </a>
                      <ul class="treeview-menu">
                        <li><a href="{% url 'banner-list' %}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Banner List</a></li>
                        <li><a href="{% url 'banner-add' %}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Add Banner</a></li>
                      </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                          <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                          <span>Product</span>
                          <span class="pull-right-container">
                            <i class="fa fa-angle-right pull-right"></i>
                          </span>
                        </a>
                        <ul class="treeview-menu">
                          <li><a href="{% url 'dashboard-product-list' %}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Products List</a></li>
                          <li><a href="{% url 'category-list' %}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Categories List</a></li>
                          <li><a href="{% url 'category-add' %}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Add Category</a></li>
                          <li><a href="{% url 'brand-list' %}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Brand List</a></li>
                          <li><a href="{% url 'brand-add' %}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Add Brand </a></li>
                        </ul>
                      </li>	
                    <li class="treeview">
                      <a href="#">
                        <i class="fa fa-th-list" aria-hidden="true"></i>
                        <span>Order</span>
                        <span class="pull-right-container">
                          <i class="fa fa-angle-right pull-right"></i>
                        </span>
                      </a>
                      <ul class="treeview-menu">
                        <li><a href="{% url 'all-order' %}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Order List</a></li>
                      </ul>
                    </li>
                    <li class="treeview">
                      <a href="#">
                        <i class="fa fa-th-list" aria-hidden="true"></i>
                        <span>Bkash</span>
                        <span class="pull-right-container">
                          <i class="fa fa-angle-right pull-right"></i>
                        </span>
                      </a>
                      <ul class="treeview-menu">
                        <li><a href="{% url 'bkash_payment-list' %}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Bkash Payment List</a></li>
                        <li><a href="{% url 'bkash_payment_refund-list' %}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Refund Payment List</a></li>
                      </ul>
                    </li>
                    <li class="treeview">
                      <a href="#">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <span>User</span>
                        <span class="pull-right-container">
                          <i class="fa fa-angle-right pull-right"></i>
                        </span>
                      </a>
                      <ul class="treeview-menu">
                        <li><a href="{% url 'user-list' %}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>User List</a></li>
                        <li><a href="{% url 'profile-list' %}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Profile List</a></li>
                      </ul>
                    </li>	
                    <li class="treeview">
                      <a href="#">
                        <i class="fa fa-ship" aria-hidden="true"></i>
                        <span>Flashsale</span>
                        <span class="pull-right-container">
                          <i class="fa fa-angle-right pull-right"></i>
                        </span>
                      </a>
                      <ul class="treeview-menu">
                        <li><a href="{% url 'flashsale-list' %}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Flashsale List</a></li>
                        <li><a href="{% url 'flashsale-add' %}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Add Flashsale</a></li>
                      </ul>
                    </li>	
                    <li class="treeview">
                      <a href="#">
                        <i class="fa fa-code" aria-hidden="true"></i>
                        <span>Coupon</span>
                        <span class="pull-right-container">
                          <i class="fa fa-angle-right pull-right"></i>
                        </span>
                      </a>
                      <ul class="treeview-menu">
                        <li><a href="{% url 'coupon-list' %}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Coupon List</a></li>
                        <li><a href="{% url 'coupon-add' %}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Add Coupon</a></li>
                      </ul>
                    </li>				    
                    <li class="treeview">
                      <a href="#">
                        <i class="fa fa-bullhorn" aria-hidden="true"></i>
                        <span>Campaign</span>
                        <span class="pull-right-container">
                          <i class="fa fa-angle-right pull-right"></i>
                        </span>
                      </a>
                      <ul class="treeview-menu">
                        <li><a href="{% url 'campaign-category-list' %}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Campaign Categories List</a></li>
                        <li><a href="{% url 'campaign-category-add' %}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Add Campaign Category</a></li>
                        <li><a href="{% url 'campaign-product-list' %}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Campaign Product List</a></li>
                        <li><a href="{% url 'campaign-product-add' %}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Add Campaign Product</a></li>
				
                      </ul>
                    </li>
             		  
                    <li class="treeview">
                      <a href="#">
                        <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                        <span>Deal Of The Day</span>
                        <span class="pull-right-container">
                          <i class="fa fa-angle-right pull-right"></i>
                        </span>
                      </a>
                      <ul class="treeview-menu">
                        <li><a href="{% url 'deal_of_the_day_product-list' %}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Deal Of The Product List</a></li>
                        <li><a href="{% url 'deal_of_the_day_product-add' %}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Add Deal Of The Product</a></li>			
                      </ul>
                    </li>
                    <li class="treeview">
                      <a href="#">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <span>Review & Rating</span>
                        <span class="pull-right-container">
                          <i class="fa fa-angle-right pull-right"></i>
                        </span>
                      </a>
                      <ul class="treeview-menu">
                        <li><a href="{% url 'rating-list' %}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>User Review & Rating List</a></li>
                        <li><a href="{% url 'rating-add' %}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Add New Review & Rating</a></li>			
                      </ul>
                    </li>
                    <li class="treeview">
                      <a href="#">
                        <i class="fa fa-handshake-o" aria-hidden="true"></i>
                        <span>Contact Data</span>
                        <span class="pull-right-container">
                          <i class="fa fa-angle-right pull-right"></i>
                        </span>
                      </a>
                      <ul class="treeview-menu">
                        <li><a href="{% url 'contact-list' %}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Contact Data List</a></li>
                        <li><a href="{% url 'contact-add' %}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Add New Contact Data</a></li>			
                      </ul>
                    </li>
                    <li class="treeview">
                      <a href="#">
                        <i class="fa fa-snowflake-o" aria-hidden="true"></i>
                        <span>Others Link</span>
                        <span class="pull-right-container">
                          <i class="fa fa-angle-right pull-right"></i>
                        </span>
                      </a>
                      <ul class="treeview-menu">
                        <li><a href="{% url 'aboutus-list' %}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>About Us</a></li>
                        <li><a href="{% url 'privacy_policy-list' %}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Privacy-Policy</a></li>
                        <li><a href="{% url 'terms_condition-list' %}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Terms-Condition</a></li>			
                        <li><a href="{% url 'mission-list' %}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Mission</a></li>			
                        <li><a href="{% url 'vision-list' %}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Vision</a></li>			
                        <li><a href="{% url 'returns_policy-list' %}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Returns-Policy</a></li>			
                        <li><a href="{% url 'shipping_delivery-list' %}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Shipping Delivery Policy</a></li>			
                      </ul>
                    </li>		 

              </div>
            </div>
        </section>
      </aside>

    
    {% block dashboard %}
        
    {% endblock dashboard %}

      <!-- Content Right Sidebar -->
  <div class="right-bar">
    <div id="sidebarRight">
        <div class="right-bar-inner">
            <div class="text-end position-relative">
                <a href="#" class="d-inline-block d-xl-none btn right-bar-btn waves-effect waves-circle btn btn-circle btn-danger btn-sm">
                  <i class="mdi mdi-close"></i>
                </a>
            </div>
            <div class="right-bar-content">
                <div class="box no-shadow box-bordered border-light">
                      <div class="box-body">
                          <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h5>Total Sale</h5>
                                <h3 class="mb-0 fw-500">৳ {{ total_sale }}</h3>
                                                                                       
                            </div>
                            <div class="p-10">
                                <div id="chart-spark1"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box no-shadow box-bordered border-light">
                    <div class="box-header">
                        <h4 class="box-title">Resent Contact Data</h4>
                    </div>
                      <div class="box-body p-5">
                          <div class="media-list media-list-hover">
                            
                            {% for c in contact_data_list %}
                              <a class="media media-single mb-10 p-0 rounded-0" href="{% url 'contact-detail' c.pk %}">
                                <div class="media-body ps-15 bs-5 rounded border-primary">
                                  <p>{{ c.message|truncatechars_html:50 }}</p>
                                  <span class="text-fade">by {{ c.name }}</span>
                                </div>
                              </a>
                            {% endfor %}                             
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
<!-- /.Content Right Sidebar -->
  
<footer class="main-footer">
    &copy; 2022 <a href="">Evazu.com</a>. All Rights Reserved.
</footer>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
        const Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
        didOpen: (toast) => {
            toast.addEventListener('mouseenter', Swal.stopTimer)
            toast.addEventListener('mouseleave', Swal.resumeTimer)
        }
        })
        {% for message in messages %}
        Toast.fire({
        icon: '{{ message.tags }}',
        title: '{{ message }}',
        })
        {% endfor %}
</script>

	<!-- Vendor JS -->
	<script src="{% static 'dashboard/js/vendors.min.js' %}"></script>
	<script src="{% static 'dashboard/js/pages/chat-popup.js' %}"></script>

	<script src="{% static 'dashboard/assets/vendor_components/apexcharts-bundle/dist/apexcharts.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/icons/feather-icons/feather.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/vendor_components/datatable/datatables.min.js' %}"></script>
	
	<script src="{% static 'dashboard/assets/vendor_components/progressbar.js-master/dist/progressbar.js' %}"></script>
	<script src="{% static 'dashboard/assets/vendor_components/OwlCarousel2/dist/owl.carousel.js' %}"></script>
	
	<!-- Riday Admin App -->
	<script src="{% static 'dashboard/js/template.js' %}"></script>
	<script src="{% static 'dashboard/js/pages/dashboard3.js' %}"></script>
  <script src="{% static 'dashboard/js/pages/data-table.js' %}"></script>



{% block script %}
  
{% endblock script %}
  


</body>

</html>
