{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    {% block fb_meta %}
    {% endblock fb_meta %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Impressmart Online shopping in Bangladesh | Order Now From Impressmart.com</title>
    <meta name="keywords" content="Impressmart Online shopping in Bangladesh | Order Now From Impressmart.com">
    <meta name="description" content="Impressmart is an emerging best online shopping platform in Bangladesh. Impressmart offer genuine products with attractive discounts & best deals in Bangladesh.">
    <meta name="author" content="Impressmart Online shopping in Bangladesh | Order Now From Impressmart.com">
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'store/images/demos/demo-13/Impressmarticon.png' %}">
    <meta name="apple-mobile-web-app-title" content="Impressmart Online shopping in Bangladesh | Order Now From Impressmart.com">
    <meta name="application-name" content="Impressmart Online shopping in Bangladesh | Order Now From Impressmart.com">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="{% static 'store/images/demos/demo-13/Impressmarticon.png' %}">
    <meta name="theme-color" content="#ffffff">
    <!--<link rel="stylesheet" href="{% static 'store/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css' %}'">-->
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="{% static 'store/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'store/css/plugins/owl-carousel/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'store/css/plugins/magnific-popup/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'store/css/plugins/jquery.countdown.css' %}">
    <link rel="stylesheet" href="{% static 'store/slick-slider/slick.css' %}">
    <link rel="stylesheet" href="{% static 'store/slick-slider/slick-theme.css' %}">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="{% static 'store/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'store/css/skins/skin-demo-13.css' %}">
    <link rel="stylesheet" href="{% static 'store/css/demos/demo-13.css' %}">
    <link rel="stylesheet" href="{% static 'store/css/plugins/nouislider/nouislider.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">


    <style>
        label{
            font-weight: 500;
        }
        .product-label{
            margin-left: -20px;
            margin-top: -13px;
        }
        .table tr td {
            font-weight: 500;
            color: #666666;
        }
        .dashboard-menu li a{
            font-weight: 500;
            color: #666666 ;
        }
    </style>

    
    {% block head %}
        
    {% endblock head %}
    
    

        
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
    window.fbAsyncInit = function() {
      FB.init({
        xfbml            : true,
        version          : 'v15.0'
      });
    };
    
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    
    <!-- Your Chat Plugin code -->
    <div class="fb-customerchat"
      attribution="install_email"
      attribution_version="biz_inbox"
      page_id="103910454729853">
    </div>
        
</head>

<body>
    
    <!-- Messenger Chat Plugin Code -->
    <div id="fb-root"></div>

    <!-- Your Chat Plugin code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <script>
      var chatbox = document.getElementById('fb-customer-chat');
      chatbox.setAttribute("page_id", "111302741886320");
      chatbox.setAttribute("attribution", "biz_inbox");
    </script>

    <!-- Your SDK code -->
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          xfbml            : true,
          version          : 'v16.0'
        });
      };

      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    
     <!-- End Messenger Chat Plugin Code -->
     
    <div class="page-wrapper">

    {% include "store/includes/navbar.html" %}

    {% block content %}

    {% endblock %}


        <!-- footer start -->
        {% include "store/includes/footer.html" %}
        <!-- End .footer -->
    </div>
    <!-- End .page-wrapper -->
    <button style="background-color: #c1272d;color:#fff" id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div>
    <!-- End .mobil-menu-overlay -->
    {% include "store/includes/mobile-navbar.html" %}
    <!-- End .mobile-menu-container -->

    <style>
        .swal-button {
        padding: 20px 29px;
        border-radius: 2px;
        background-color: #075c15;
        font-size: 12px;
        border: 1px solid #27d309;
        text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
        }
    </style>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
        const Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
        didOpen: (toast) => {
            toast.addEventListener('mouseenter', Swal.stopTimer)
            toast.addEventListener('mouseleave', Swal.resumeTimer)
        }
        })
        {% for message in messages %}
        Toast.fire({
        icon: '{{ message.tags }}',
        title: '{{ message }}',
        })
        {% endfor %}
</script>
    <!-- Plugins JS File -->

    <!-- Plugins JS File -->

    <script src="{% static 'store/js/jquery.min.js' %}"></script>
    <script src="{% static 'store/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'store/js/jquery.hoverIntent.min.js' %}"></script>
    <script src="{% static 'store/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'store/js/superfish.min.js' %}"></script>
    <script src="{% static 'store/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'store/js/jquery.plugin.min.js' %}"></script>
    <script src="{% static 'store/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'store/js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'store/js/bootstrap-input-spinner.js' %}"></script>
    <script src="{% static 'store/js/jquery.elevateZoom.min.js' %}"></script>
    <script src="{% static 'store/js/bootstrap-input-spinner.js' %}"></script>
    <script src="{% static 'store/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'store/slick-slider/slick.min.js' %}"></script>
    <!-- Main JS File -->
    <script src="{% static 'store/js/main.js' %}"></script>
    <script src="{% static 'store/js/demos/demo-13.js' %}"></script>

    <script>
        $('.menu-slider').slick({
        slidesToShow: 6,
        slidesToScroll: 3,
        autoplay: false,
        arrows: false,
        responsive: [
    {
      breakpoint: 992,
      settings: {
        slidesToShow: 5
      }
    },
    {
      breakpoint: 868,
      settings: {
        slidesToShow: 4
      }
    },
    {
      breakpoint: 485,
      settings: {
        slidesToShow: 3
      }
    },
    {
      breakpoint: 335,
      settings: {
        slidesToShow: 2
      }
    }

  ]
      });
    </script>
    
    {% block script %}
      
    {% endblock script %}

    <script>
        $(document).ready(function(){
            $('#myOrderDataTable')
            .dataTable( {
            dom : 'Bfrtip',
            buttons: [
                'copy', 'cvs', 'pdf', 'excel', 'print'
            ]
    
            });
        });
        </script>

</body> 


</html>