<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Evazu Online shopping in Bangladesh | Order Now From Evazu.com</title>
</head>
<body>

<div class="logo" style="margin-bottom: 30px;text-align: center;">
  <img src="{{logo.image.path}}" alt="" style="width: 200px; ">
</div>
  <table repeat="1">
    <tr><th style="text-align: left; font-size: 15px;">Evazu Online shopping in Bangladesh </th><th style="text-align: right; font-size: 15px;">Invoice</th></tr>
    <tr><th style="text-align: left;">Contact Number - </th><th style="text-align: right;" >Order ID - {{ order.orderId }}</th></tr>
    <tr><th style="text-align: left;">Office Address - </th><th style="text-align: right;" >Order Date - {{ order.ordered_date }}</th></tr>
    <tr><th style="text-align: left;"></th><th style="text-align: right;">Order Status - {{ order.order_status }}</th></tr>
    <tr><th style="text-align: left;"></th><th style="text-align: right;">Payment Method - {{ order.payment_option }}</th></tr>
  </table>


  <hr style="background-color: rgb(160, 153, 153);">
  <table class="table">
    <thead >
      <tr style="padding-bottom: 5px;">
        <th scope="col">SN</th>
        <th scope="col" style="text-align: left;">Product</th>
        <th scope="col" style="text-align: left;">Qty</th>
        <th scope="col" style="text-align: left;">Unit Price</th>
        <th scope="col" style="text-align: left;">Total Price</th>
      </tr>
    </thead>
    <tbody>
      
      {% for p in order.items.all %}
      <tr style="margin-top: 20px; border-bottom: 0.1px solid rgb(238, 227, 227); padding-top: 5px; " >
        <th scope="row">#{{ forloop.counter }}</th>
        <td><img src="{{ p.item.image.path }}" alt="" style="height: 32px; width: 32px;"> {{ p.item.product_name }}</td>
        <td>{{ p.quantity }}</td>
        <td>TK {{ p.item.price }}</td>
        <td>TK {{ p.get_subtotal }}</td>
      </tr>
      {% endfor %}
        
    </tbody>
  </table>

  <div ></div>

  <table repeat="1">
    <h3 style="text-align: center; margin-top: 40px ;">Order Summary</h3>
    <tr><th style="border-right: 1px solid #2222; text-align: left;">Total Item Price</th><th style="text-align: right;">৳{{ order.get_total }} </th></tr>
    <tr><th style="border-right: 1px solid #2222; text-align: left;">Delivery Fee</th><th  style="text-align: right;">
      {% if order.shipping_address.shiping_area == 'Inside Dhaka' %}
      + ৳80 
   {% elif order.shipping_address.shiping_area == 'Outside Dhaka' %} 
    + ৳95 
   {% elif order.shipping_address.shiping_area == 'Only Chittagong District' %} 
    + ৳50 
   {% endif %}   
    </th></tr>
    {% if order.coupon %}
    <tr><th style="border-right: 1px solid #2222; text-align: left;">Coupon Discount Amount</th><th  style="text-align: right;">- ৳{{ order.coupon.amount }} </th></tr>
    {% endif %}
    <tr><th style="border-right: 1px solid #2222; text-align: left;">Total Amount</th><th  style="text-align: right;">৳{{ order.total_order_amount }} </th></tr>
    <tr><th style="border-right: 1px solid #2222; text-align: left;">Paid Amount</th><th  style="text-align: right;"> ৳{{ order.paid_amount }} </th></tr>
    <tr><th style="border-right: 1px solid #2222; text-align: left;">Due Amount</th><th  style="text-align: right;">৳{{ order.due_amount }} </th></tr>
    <tr><th style="border-right: 1px solid #2222; text-align: left;">Payment Method</th><th  style="text-align: right;">৳{{order.payment_option}}</th></tr>
  </table>

  <table repeat="1">
    <h3 style="text-align: center; margin-top: 40px ;">Shiping Information</h3>
    <tr><th style="border-right: 1px solid #2222; text-align: left;">Name</th><th style="text-align: right;">{{order.shipping_address.full_name}}</th></tr>
    <tr><th style="border-right: 1px solid #2222; text-align: left;">Phone</th><th style="text-align: right;">{{order.shipping_address.phone}}</th></tr>
    <tr><th style="border-right: 1px solid #2222; text-align: left;">Full Address</th><th style="text-align: right;">{{order.shipping_address.full_address}}</th></tr>
    <tr><th style="border-right: 1px solid #2222; text-align: left;">Order Note</th><th style="text-align: right;">{{order.shipping_address.order_note}}</th></tr>
  </table>

  <h1 style="text-align: center; margin-top: 50px;">Thank Your For Shopping</h1>
</body>
</html>