{% extends 'store/base.html' %}
{% load static %}
{% load desktop_menu %}
{% load top_category %}
{% block content %}

<style>
    .load-product{
            display: none;
        }
    .loadMore {
        width: 150px;
        color: #fff;
        display: block;
        text-align: center;
        margin: 20px auto;
        padding: 5px;
        border-radius: 10px;
        border: 1px solid transparent;
        background-color:#c1272d;
        transition: .3s;
        }
    .loadMore:hover {
        color: #c1272d;
        background-color: #fff;
        border: 1px solid #c1272d;
        text-decoration: none;
        }
    .noContent {
        color: #000 !important;
        background-color: transparent !important;
        pointer-events: none;
    }
    .product{
        box-shadow: 0 8px 16px 0 rgba(167, 165, 165, 0.2);
    }
    .product:hover{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
</style>
<main class="main">
    <div class="container electronics">
        <div class="row">
            <div class="col-md-3">
                <div class="heading heading-flex mb-1">
                    <div class="heading-center mt-3">
                        <h6 class="mb-1 text-left">Brand Filtering</h6><!-- End .title -->
                    </div><!-- End .heading-left -->
                </div><!-- End .heading -->
                <div class="row">
                    {% for p in request|brands %}
                    <div class="col-3 col-md-12">
                        <a style="color:#595c59; font-weight: 500;" href="{% url 'brand' p.slug %}">{{ p.name }}</a>
                    </div>
                    {% endfor %}
                </div>
                <div class="heading heading-flex mb-1">
                    <div class="heading-center mt-3">
                        <h6 class="mb-1 text-left">Price Filtering</h6><!-- End .title -->
                    </div><!-- End .heading-left -->
                </div><!-- End .heading -->
                <div class="row">
                    {% for p in request|price_ranges %}
                    <div class="col-3 col-md-12">
                        <a style="color:#595c59; font-weight: 500;" href="{% url 'pricerange-filtering' p.pk %}">{{ p.price_range }}</a>
                    </div>
                    {% endfor %}
                </div>
                <div class="heading heading-flex mb-1">
                    <div class="heading-center mt-3">
                        <h6 class="mb-1 text-left">Categorie Filtering</h6><!-- End .title -->
                    </div><!-- End .heading-left -->
                </div><!-- End .heading -->
                <div class="row">
                    {% for p in request|category %}
                    <div class="col-3 col-md-12">
                        <a style="color:#595c59; font-weight: 500;" href="{% url 'category' p.slug %}">{{ p.category_name }}</a>
                    </div>
                    {% endfor %}
                </div>                     
            </div>
            <div class="col-md-9">
                <div class="heading heading-flex heading-border mb-3">
                    <div class="heading-center mt-3">
                        <h2 class="title mb-1">All Products</span> </h2><!-- End .title -->
                    </div><!-- End .heading-left -->
                </div><!-- End .heading -->
                <div class="row equal">
                    {% for p in products %}
                    <div class="col-6 col-md-4 col-lg-3 d-flex align-items-stretch">
                        <div class="product mx-2 load-product">
                            <figure class="product-media">
                                {% if p.stock_quantity %}
                                {% if p.discount_price %}
                                <span class="product-label label-sale" style="background-color: #c1272d; color:#fff">{{ p.saving_percent|floatformat:"0" }}% Off</span>
                                {% endif %}
                                {% else %}
                                <span class="product-label label-sale" style="background-color: #e70f0f; color:#fff">out of stock</span>
                                {% endif %}
                                <a href="{% url 'product-detail' p.slug %}">
                                    <img src="{{  p.image.url }}" alt="Product image" class="product-image">
                                </a>
                
                                <div class="product-action-vertical">
                                    <a href="{% url 'add-to-wishlist' p.slug %}" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                </div><!-- End .product-action-vertical -->
                            </figure><!-- End .product-media -->
                
                            <div class="product-body">
                                <h3 class="product-title text-center"><a href="{% url 'product-detail' p.slug %}">{{ p.product_name }}</a></h3><!-- End .product-title -->
                                <div class="product-price pt-1 justify-content-center">
                                    {% if p.discount_price %}
                                    <span class="new-price">৳{{ p.discount_price }}</span>
                                    <span class="old-price"><del>৳{{ p.price }}</del></span>
                                    {% else %}
                                    ৳{{ p.price }}
                                    {% endif %}
                                </div><!-- End .product-price -->
                                <div class="ratings-container justify-content-center">
                                    <div class="ratings">       
                                        {% if p.get_avg_rating %}
                                        <div class="ratings-val" style="width:{{p.get_avg_rating}}%;"></div><!-- End .ratings-val -->           
                                        {% endif %}
                                        <div class="ratings-val" style="width: 0%;"></div><!-- End .ratings-val -->                                  
                                    </div><!-- End .ratings -->
                                    {% if p.get_rating_count %}
                                    <span class="ratings-text">( {{ p.get_rating_count }} )</span>
                                        {% else %}
                                    <span class="ratings-text">(0)</span>
                                {% endif %}
                                </div><!-- End .rating-container -->
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->
                    </div>
                    {% endfor %}
                </div>
                <a href="" class="loadMore">Load More</a>
            </div>
        </div>
    </div><!-- End .container -->
</main><!-- End .main -->
{% endblock %}


{% block script %}
<script>
    $(document).ready(function(){
    $(".load-product").slice(0, 15).show();
    $(".loadMore").on("click", function(e){
      e.preventDefault();
      $(".load-product:hidden").slice(0, 2).slideDown();
      if($(".load-product:hidden").length == 0) {
        $(".loadMore").text("No Content").addClass("noContent");
      }
    });
    
  })
</script>


{% endblock script %}