{% extends 'store/base.html' %}
{% load static %}
{% block content %}

<style>
.profile-dashboard h4,p{
    color: white;
}
.cart-product{
    background: linear-gradient(-45deg, #00a000, #5ddf51, #23d5ab, #04ff3a);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    height: 140px;
    color: white;
    padding-top: 30px;
    text-align: center;
    border-radius: 3%;
}
.wishlist-product{
    background: linear-gradient(-45deg, #e558f8, #a800b8, #e42695, #6b1a60);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    height: 140px;
    color: white;
    padding-top: 30px;
    text-align: center;
    border-radius: 3%;
}
.ordered-product{
    background: linear-gradient(-45deg, #2fff1c, #ff1b1b, #ff2525, #009b0d);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    height: 140px;
    color: white;
    padding-top: 30px;
    text-align: center;
    border-radius: 3%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

.card-profile{
    height: 200px;
    background-color: #c1272d;
}

.m-active a{
    color: #c1272d !important;
}
</style>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-3 d-none d-md-block">
            <div class="card border rounded">
                <div class="card-profile ">
                    <img class="mx-auto mt-4 rounded-circle" src="{{ user.profile.image.url }}" alt="" style="height: 70px ; width: 70px;">
                    <p style="text-align:center ; font-size: 16px; font-weight: 500;">{{ user.first_name }} {{ user.last_name }}</p>
                    <p style="text-align:center ;">{{ user.username }}</p>
                </div>
                <div class="card-body">
                    <nav class="mobile-cats-nav">
						<ul class="mobile-cats-menu dashboard-menu">
							<li ><a href="{% url 'profile-dashboard' %}"><i class="fa-solid fa-house"></i>Dashboard</a></li>
							<li ><a href="{% url 'cart-summary' %}"><i class="fa-solid fa-cart-shopping"></i>Cart History</a></li>
							<li ><a href="{% url 'order-summary' %}"><i class="fa-solid fa-book"></i>Purchase History</a></li>
							<li class="m-active"><a href="{% url 'wish-list' %}"><i class="fa-solid fa-heart"></i>Wishlist</a></li>
							<li><a href="{% url 'my-review' %}"><i class="fa-solid fa-list"></i>My Review</a></li>
							<li ><a href="{% url 'profile-update' %}"><i class="fa-solid fa-circle-user"></i>Manage Profile</a></li>
						</ul><!-- End .mobile-cats-menu -->
                    </nav><!-- End .mobile-cats-nav -->
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <h5>Wishlist</h5>
			<table class="table table-wishlist table-mobile">
				<thead>
					<tr>
						<th>Product</th>
						<th>Price</th>
						<th>Stock Status</th>
						<th>Action</th>
					</tr>
				</thead>

				<tbody>
					
					{% for p in wish_product %}                              
					<tr>
						<td class="product-col">
							<div class="product">
								<figure class="product-media">
									<a href="#">
										<img src="{{ p.wish_product.image.url }}" alt="Product image">
									</a>
								</figure>

								<h3 class="product-title">
									<a href="#">{{ p.wish_product.product_name }}</a>
								</h3><!-- End .product-title -->
							</div><!-- End .product -->
						</td>
						{% if p.wish_product.discount_price %}
						<td class="price-col">৳{{ p.wish_product.discount_price }} </td>
						{% else %}
						<td class="price-col">৳{{ p.wish_product.price }} </td>
						{% endif %}
						
						{% if p.wish_product.in_stock %}
						<td class="stock-col"><span class="in-stock">In stock</span></td>
						{% else %}
						<td class="stock-col"><span class="out-of-stock">Out of stock</span></td>
						{% endif %}                               
						<td class="remove-col"> <a title="delete" class="btn-remove" href="{% url 'delete-wish-list' p.slug %}"><i class="icon-close"></i></a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table><!-- End .table table-wishlist -->
        </div>
    </div>
</div>
{% endblock %}